/* 

.custom-toggle {
    border: none;
    background: none;
  }
  
  .navbar-toggler{
    display: none;
  }
  
  .custom-bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #333; 
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 1024px) {
    .gemini-name{
      position: relative;
      top:30px;
      left: 20px;
      font-size: 1.8rem !important;
      color:red;
    }
    .navbar {
      padding: 10px 15px;
    
    }
    .navBrand {
      font-size: 22px;
    }
    .projectContent {
      flex-direction: column;
    }
    .imageContainer {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .projectInfo {
      max-width: 90%;
    }
    .navItems {
      flex-direction: column;
      align-items: center;
    }
    .nav-link{
      margin: 10px 0;
      font-size: 1.6rem !important;
    }
    .toggle{
      display: none !important;
    }
  }
  
  @media (max-width: 768px) {
    .gemini-name{
      position: relative;
      top:20px;
      left: 10px;
      font-size: 1.8rem !important;
      color:red;
    }
    .navbar {
      padding: 10px 15px;
    }
    .navBrand {
      font-size: 18px;
    }
    .navItems {
      padding: 0px;
    }
    .nav-link {
      margin: 10px 0;
       font-size: 1rem !important;
    }
    .toggleButton {
      top: 15px;
      right: 10px;
    }
  }
  
  
  @media (max-width: 425px) {
    #root div{
      min-height: 0;
    }
    .navbar{
    padding: 5px !important;
      background-color: #1F2937 !important;
      color: white !important; 
    }
  
  
   .hamburger {
    display: none;
    background-color: red;
    position: absolute; 
    top: 60px !important; 
    right: 0;
    z-index: 1000;
    flex-direction: column;
  }
  
  
  .ml-auto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position:relative;
    top: px;
  }
   .gemini-name{
    margin-top: 30px;
   }
  
   .navbar-toggler{
    display: block;
    margin-left: auto;
    position: relative; 
   }
  
   .navbar-toggler:hover + .hamburger {
    display: block !important;
    display: flex !important;
    margin-top: -50px;
    background-color:pink;
  
    margin-left: auto;
    padding: 0px !important;
  
   }
  .gemini-name{
    position: relative;
    top: 30px;
    left: 50px;
  }
  
    .navbar {
      padding: 10px;
    }
  
    .navBrand {
      font-size: 16px;
    }
  
    .navLink {
      font-size: 5px !important;
      padding: 8px 12px;
      margin: 5px 0;
      color: red !important;
    }
  
    .projectContent {
      flex-direction: column;
    }
  
    .imageContainer {
      margin-right: 0;
      margin-bottom: 15px;
    }
  
    .projectInfo {
      max-width: 100%;
      font-size: 14px;
    }
  
    .toggleButton {
      top: 10px;
      right: 10px;
    }
  }
   */